<%= bootstrap_form_for(@checkin, remote: true, format: :json) do |f| %>
    <%= f.text_field :name %>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
    <%= f.hidden_field :accuracy %>
<% end %>

<%= button_tag '<span class="ladda-label">Check-in</span>'.html_safe, id:"checkin", class: "btn btn-primary btn-lg ladda-button", :data => {style: "expand-left", size: "l"}  %>